@use '@tcf/styles/utilities/mixins' as *;

html,
body {
	margin: 0;
	padding: 0;
	font-size: var(--text-base);
	font-family: var(--font-primary);
	background-size: cover;
	width: 100%;
}

svg {
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
}