@use '@tcf/styles/utilities/mixins' as *;

a {
    text-decoration: none;
}



// .emphasis {
//     color: var(--secondary-700);
//     margin-block: unset;
//     margin-inline: unset;
//     font-size: var(--text-sm);

//     a {
//         text-decoration: underline;
//     }
// }

// hr {
//     border-top: rem(1) solid var(--secondary-200);
//     border-width: rem(1) 0 0 0;
//     margin: 0;
// }

// DSG

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    color: var(--white);
    letter-spacing: 0;
}


h1 {
    font-size: var(--text-2xl);
    line-height: rem(36);
}

// h2 {
//     font-size: var(--text-5xl);
//     line-height: rem(56);
// }

// h3 {
//     font-size: var(--text-4xl);
//     line-height: rem(40);
// }

// h4 {
//     font-size: var(--text-3xl);
//     line-height: rem(36);
//     font-family: var(--clanOT);
//     font-weight: var(--bold);
// }

// h5 {
//     font-size: var(--text-2xl);
//     line-height: rem(32);
// }

// h6 {
//     font-size: var(--text-xl);
//     line-height: rem(28);
// }

// p {
//     margin: 0;

//     a {
//         text-decoration: underline;
//     }
// }

// .secondary-700 {
//     color: var(--secondary-700);
// }

// end DSG