@use '@tcf/styles/utilities/mixins' as *;

.page-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(100);
    .left-size {
        max-width: rem(320);
        right: rem(80);
        img {
            width: 100%;
        }
    }

    .right-size {
        border: rem(1) solid var(--dark-purple);
        border-radius: rem(16);
        padding: rem(20);
        display: flex;
        flex-direction: column;
        gap: rem(12);
        background-image: linear-gradient(to bottom right, var(--dark-purple), var(--light-purple));
        .two-button {
            display: flex;
            gap: rem(4);
        }
    }
}