@use '@tcf/styles/utilities/mixins' as *;

.wrapper {
	&__content {
		&--gradient {
			padding-top: rem(57);
		}
	}

	&__section {
		z-index: 1;
	}

	main {
		height: 100%;
		box-sizing: border-box;
	}
}
