$primary-color: #1e0c5b;
$primary-100: #3a317e;
$primary-500: #03a7af;

$secondary-color: #a3e7fc;
$secondary-500: #c4c9cb;
$secondary-700: #6d7071;
$secondary-900: #161616;

$light-grey: #e1e5e7;

$cancel: #F14336;
