@use '@tcf/styles/utilities/mixins' as *;

// btn general
.btn {
	display: flex;
	align-items: center;
	font-weight: var(--medium);
	font-size: var(--text-lg);
	letter-spacing: 0;
	text-align: center;
	appearance: none;
	cursor: pointer;
	justify-content: center;
	height: rem(32);
}

.btn-size-large {
	padding: rem(12) rem(30);
	font-size: var(--text-base);
}

.btn-size-medium {
	padding: rem(8) rem(18);
	font-size: var(--text-sm);
}

.btn-size-small {
	padding: rem(4) rem(12);
	font-size: var(--text-sm);
}

.btn-primary {
	color: var(--white);
	background-color: var(--button-primary-color);
	border-radius: rem(16);
	justify-content: center;

	&:hover {
		transform: scale(1.02);
	}

	&:focus {
		color: var(--white);
		outline: var(--outline);
	}

	&[target='_blank']:focus {
		color: var(--white);
		outline: var(--outline-externe);
	}

	&:disabled,
	&[disabled] {
		background-color: var(--secondary-500);
		border-color: var(--secondary-500);
	}
}

.btn-secondary {
	background-color: transparent;
	border: rem(1) solid var(--white);
	color: var(--secondary-900);
	box-shadow: var(--shadow-sm);
	align-content: center;
	border-radius: rem(16);
	color: var(--white);
	width: 100%;

	&:hover {
		transform: scale(1.02);
	}

	&:disabled {
		background-color: transparent;
		border: rem(1) solid var(--light-grey);
		color: var(--secondary-700);
	}

	&:focus {
		background-color: transparent;
		border: rem(1) solid var(--secondary-200);
	}
}

.btn-tertiary {
	background-color: transparent;
	border: rem(1) solid transparent;
	color: var(--white);
	width: auto;
	border-radius: rem(8);

	&:hover {
		transform: scale(1.02);
		font-weight: 600;
	}

	&:disabled {
		color: var(--secondary-700);
	}
}

.btn-quaternary {
	background-color: transparent;
	color: var(--white);
	width: auto;
	border-radius: rem(16);
	padding: rem(4) rem(12);
	border: rem(2) solid var(--correct-input);

	&:hover {
		transform: scale(1.02);
		font-weight: 600;
	}

	&:disabled {
		color: var(--secondary-700);
	}

	&:focus {
		font-weight: 600;
	}
}

.btn-small {
	width: auto;
	height: auto;
	padding: rem(12) rem(24);
	border-radius: rem(24);
}

.btn-danger {
	color: var(--white);
	background-color: var(--red-500);

	&:hover {
		background-color: var(--red-200);
	}
}

.btn-danger-outline {
	color: var(--red-500);
	background-color: var(--white);

	&:hover {
		background-color: var(--light-grey);
	}
}

.btn-icon {
	display: flex;
	gap: rem(10);
	align-items: center;
}

// reset
button {
	border: none;
	width: 100%;
}

.btn-with-icon {
	padding: rem(8) rem(16);
	display: flex;
	align-items: center;
	gap: rem(8);
}

.btn-only-icon {
	display: flex;
	align-items: center;
	padding: rem(8);
	font-size: var(--text-lg);

	&--xs {
		padding: rem(6);
	}
}

.btn-link {
	box-shadow: none;

	&:hover {
		text-decoration: none;
	}
}
